<div class="center">
  <form>
    <div class="inputbox">
      <label>Name</label>
      <input type="text" required="required">
    </div>
    <div class="inputbox">
      <label>Email</label>
      <input type="email" required="required">
    </div>
    <div class="inputbox">
      <label>Mobile</label>
      <input type="text" required="required">
    </div>
    <div class="inputbox">
      <label>Password</label>
      
      <input type="password" required="required">
    </div>
    <div class="inputbox">
      <button type="submit">Sign up</button>
    </div>
  </form>
</div>
